name: Python Package using Conda

#on: [push]

on:
  #schedule:
   # - cron: '*/30 * * * *'
  push: # Runs when you push to any branch
    branches:
      - master
jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda install pip
        pip install -r requirements.txt
    - name: Run app script
      env:
        MY_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        # Run your Python script from the app folder
        python app/main.py
